body, html {
    margin: 0;
    padding: 0;
}

.category {
    padding: 10px;
    clear: left;
    height: 350px;
}

.category__title {
    font-size: 26px;
}

.category__products {
}

.product {
    width: 200px;
    height: 300px;
    float: left;
    padding: 10px;
}

.product__price {
    font-size: 14px;
    margin: 0;
}

.product__img {
    display: block;
    margin: 0 auto;
    width: 135px;
}

.product__description {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}


